@font-face {
    font-family: Poppins;
    src: url('../fonts/Poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: Inter;
    src: url('../fonts/Inter/static/Inter-Regular.ttf');
}

* {
    font-family: 'Inter', sans-serif !important;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    background-image: url('../img/backgrounds/bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

#username,
#password {
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    border-bottom: 1px solid inherit !important;
    border-radius: 0 !important;
    padding: 20px !important;
    background: transparent;
    color: white !important;
}

#username:focus,
#password:focus {
    outline: none !important;
    box-shadow: none !important;
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    border-bottom: 1px solid inherit !important;
    border-radius: 0 !important;
    color: white;
}

#username::placeholder,
#password::placeholder {
    color: #BABABA !important;
}

.btn-login {
    padding: 10px !important;
    width: 100% !important;
    border-radius: 8px !important;
    background-color: #00A9FF !important;
    color: white !important;
}

.btn-login:hover {
    background-color: #00A9FF !important;
    color: white !important;
}

h4 {
    color: black !important;
}

#title {
    font-weight: 500 !important;
}

.container,
.form-label,
.modal-footer {
    font-family: 'Inter', sans-serif !important;
}

.showPasswordInput input,
.showPasswordInput label {
    color: #BABABA !important;
}

.modal-footer .btn {
    padding: 10px !important;
}

#eye-open,
#Coneye-open {
    position: relative !important;
    float: right !important;
    margin: 1rem !important;
    top: -2.7rem !important;
    display: none !important;
}

#eye-close,
#Coneye-close {
    position: relative !important;
    float: right !important;
    margin: 1rem !important;
    top: -2.7rem !important;
}

.alert {
    display: none !important;
}

.requirements {
    list-style-type: none !important;
}

.wrong .fa-check {
    display: none !important;
}

.good .fa-times {
    display: none !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-background-clip: text;
    -webkit-text-fill-color: #ffffff;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px transparent;
}

.training_links {
    text-decoration: none;
}

.bi {
    color: #BABABA;
}

.containers {
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translateY(-50%) !important;
}

.footer_credit{
    
}

@media screen and (max-width: 1600px) {
    .containers {
        position: absolute !important;
        top: 50% !important;
        left: 50% !important;
        transform: translate(-50%, -50%) !important;
    }
    .login-form{
        background-color: #1f2568 !important;
    }
}

@media screen and (max-width: 560px) {
    .containers{
        width: 90% !important;
    }
}